<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="trace"
      internalLogFile="logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target name="FA-messages-log" xsi:type="File" layout="${longdate} ${callsite} ${level} ${message} ${exception:format=ToString}" fileName="App_Data/logs/FA-messages-log.txt" archiveFileName="App_Data/logs/archives/FA-messages-log/FA-messages-log.{#}.txt" archiveEvery="Day" maxArchiveFiles="14" archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="104857600" />
    <target name="default" xsi:type="File" layout="${longdate} ${callsite} ${level} ${message} ${exception:format=ToString}" fileName="App_Data/logs/FA-log.txt" archiveFileName="App_Data/logs/archives/FA-log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
    <target name="Console" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message} ${exception:format=ToString}" />
    <target name="Trace" xsi:type="Trace" layout="${longdate} ${callsite} ${level} ${message} ${exception:format=ToString}" />
    <!-- 100mb-->

  </targets>
  <rules>
    <logger name="FAMessageLogger" writeTo="FA-messages-log" final="true" minlevel="Info"/>
    <logger name="*" minlevel="Trace" writeTo="default,Console,Trace" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Info" maxLevel="Info" final="true" />

  </rules>
</nlog>